#Jupyter Notebook cache folders

/.ipynb_checkpoints
/Homeworks/lab*/.ipynb_checkpoints

#Media files
*.jpg
*.jpeg
*.png
/Homeworks/lab*/*.jpg
/Homeworks/lab*/*.jpeg
/Homeworks/lab*/*.png
/Homeworks/lab*/*.pdf
/Homeworks/lab*/data



